div#header
    b(type="button" style={display: 'inline-block', margin: '6', border: '1px solid black', height: '20px', width: 'auto', float: 'left', 'background-color': 'aliceblue'} onclick="location.href = '/';") Home

    b(type="button" style={display: 'inline-block', margin: '6', border: '1px solid black', height: '20px', width: 'auto', float: 'left', 'background-color': 'aliceblue'} onclick="location.href = '/customer';") Customer  

    b(type="button" style={display: 'inline-block', margin: '6', border: '1px solid black', height: '20px', width: 'auto', float: 'left', 'background-color': 'aliceblue'} onclick="location.href = '/sale';") Sale

    b(type="button" style={display: 'inline-block', margin: '6', border: '1px solid black', height: '20px', width: 'auto', float: 'left', 'background-color': 'aliceblue'} onclick="location.href = '/product';") Product

    b(type="button" style={display: 'inline-block', margin: '6', border: '1px solid black', height: '20px', width: 'auto', 'background-color': 'aliceblue'} onclick="location.href = '/employee';") Employee
    