html 
    head 
        title Final Database Project
        script(src="/client.js")
    body(onload="init()" style={'background-color':'antiquewhite'})
        include ../views/partials/header
        div 
            h3 What would you like to know about your customers:
        div
            p Product Name:
                input(type="text" name="product_name" id="product_name")
            p Dept:
                input(type="text" name="dept_name" id="dept_name")
        div 
            button(type="button", id="sub") Submit
        div(class="row" id="info")